@model AutoMoto.Contracts.ViewModels.SearchModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}




<div class="landing-bg jumbotron text-center">
    <div class="container" style="margin: 0 auto; max-width: 60em;">
        <img src="../../Content/file.png"/>
        <h1 style="color:#254c5c">Serwis ogłoszeń</h1>
        <p class="lead" style="color:#254c5c"> motoryzacyjnych</p>
    </div>
</div>
<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-12 section-title">
            <h4>Najnowsze ogłoszenia <a class="btn btn-default btn-sm pull-right" href="@Url.Action("Index","Advertisement")">Wszystkie ogłoszenia &raquo;</a></h4>
        </div>
    </div>
    <div class="row row-eq-height m-b-10">
        @foreach (var item in Model.ListingsPageList.Take(4))
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                @Html.Partial("~/Views/Advertisement/_Card.cshtml", item)
            </div>
        }
    </div>
</div>